* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Karla", sans-serif;
}

.container {
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 18px 36px 18px 20px;
  background: linear-gradient(90deg, #672280 1%, #a626d3 100%);
  color: #fff;
}

.header__img {
  height: 100%;
  margin-right: 6px;
}

.header__title {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: -0.125rem;
}

.meme {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-inline: auto;
  padding: 36px 36px 55px;
}

.meme__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}

.meme__form input {
  width: 100%;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  padding: 10px;
  color: #0d0d0d;
  font-family: "Karla";
  font-weight: 400;
  font-size: 0.875rem;
}

.form__btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(90.41deg, #711f8d 1%, #a818da 100%);
  color: #fff;
  font-family: "Karla";
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  text-align: center;
  cursor: pointer;
}

.meme__container {
  position: relative;
}

.meme__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.meme__text {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  color: #fff;
  font-family: Impact, sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 4px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

@media (max-width: 500px) {
  .header {
    height: auto;
    padding-block: 16px;
  }

  .meme {
    padding-inline: 16px;
  }

  .form__inputs {
    flex-direction: column;
  }

  .meme__text {
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}